{% extends "smh/dashboard.html" %}


 {% block content %}
    {% with messages = get_flashed_messages() %} {% endwith %}
    {% if user.nickname == current_user.nickname %}<h1>My Profile</h1>
    {% else %}<h1>{{ user.nickname }}'s Profile</h1>
    {% endif %}


    

<body background="/static/img/bg1.jpg">

<!-- navigation bar goes here -->

<style>
body {
  padding-top: 80px;
}
</style>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>

   <script type="text/javascript">
   $(document).ready(function() {
      $("#my-menu").mmenu({
         // options
      }, {
         // configuration
         classNames: {
            selected: "active"
         }
      });
   });
</script>

<script type="text/javascript">
   $(document).ready(function() {
      $("#my-menu").mmenu();
   });
</script>

            </body>

<!-- endblock for block body -->
{%endblock%}