{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
{% block title %}
  {% if title %}
    {{ title }}
  {% else %}
    Welcome to AAR
  {% endif %}

{% with messages = get_flashed_messages() %}
{% endwith %}

{% endblock %}

{% block styles %}
{{ super() }}    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% if current_user.is_authenticated() %}
          <li>{{ user }}</li>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
          {% endif %}
    </head>
{% endblock %}
{% block body %}
<!DOCTYPE html>
<body>
  <header>
    {% if question %}
      <h2>{{ question.body }}</h2>
      {% if current_user.is_authenticated() %}
      <form action="/" method="post">
      <input type="text" name="response" placeholder="Enter a response here">
      <input type="hidden" name="responder" value="{{ current_user.nickname }}">
      <input type="hidden" name="question_id" value="{{ question.id }}">
      <input type="submit" value="send">
      </form>
      {% if question.responses %}
        <br>
        <ul>
          {% for response in question.responses %}
            <li>{{ response.author }} writes: {{ response.body }} </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% else %}
      <li>{{ user }} user. </li>
          <li><a href="{{ url_for('auth.login') }}">Log In</a> or <a href="{{ url_for('signup') }}">Sign Up</a> to respond!</li>
      {% endif %}
      {% else %}
      <h2>No questions at the moment.</h2>
    {% endif %}   
  </header>
</body>
{% endblock %}